body{
    background-color:rgb(25, 25, 25);
    color:white;
    font-family:Arial;
}
.title{
    font-size:30px;
    font-weight:bold;
}
.move-icon{
    height:50px;
}
.move-button{
    background-color:transparent;
    border: 3px solid white;
    width:120px;
    height:120px;
    border-radius:60px;
    margin-right:8px;
    cursor:pointer;
}
.result{
    font-size:25px;
    font-weight:bold;
    margin-top:50px;
}
.score{
    margin-top:56px;
}
.reset-score-button{
    border:none;
    padding:8px 16px;
    font-size:16px;
    cursor:pointer;
}
